node_modules/
shell/xsystem35.d.ts
shell/system3.d.ts
dist/system3.*
dist/xsystem35.*
dist/shell.js*
dist/archiveworker.js*
dist/fdimage.js*
dist/spessasynth.js*
dist/style.css
dist/help/
dist/lib/7zz.*
dist/lib/fatfs.*
dist/lib/idbfs.js
dist/lib/font-awesome.min.css
dist/fonts/fontawesome-webfont.woff2
dist/spessasynth_processor.min.js
