node_modules/
shell/xsystem35.d.ts
shell/system3.d.ts
shell/jspi/
dist/system3.*
dist/xsystem35.*
dist/jspi/
dist/shell.js*
dist/archiveworker.js*
dist/fdimage.js*
dist/spessasynth.js*
dist/style.css
dist/help/
dist/lib/7zz.*
dist/lib/fatfs.*
dist/lib/idbfs.js
dist/lib/font-awesome.min.css
dist/fonts/fontawesome-webfont.woff2
dist/fonts/MTLc3m.ttf
dist/fonts/MTLc3m.ttf.license
dist/fonts/mincho.ttf
dist/fonts/mincho.ttf.license
dist/spessasynth_processor.min.js
