node_modules/
dist/system3.*
dist/xsystem35.*
dist/shell.js*
dist/archiveworker.js*
dist/fdimage.js*
dist/style.css
dist/lib/7zz.*
dist/lib/fatfs.*
dist/lib/idbfs.js
dist/lib/font-awesome.min.css
dist/fonts/fontawesome-webfont.woff2
